name: Ruby head

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        gemfile: [ activerecord_6.0, activerecord_6.1, activerecord_head ]
        # sqlite 1.3 is not compatible with Ruby 3.0+. If this changes or
        # sqlite is no longer a dependency then the Active Record 5.2 tests
        # can be added:
        # gemfile: [ activerecord_5.2, activerecord_6.0, activerecord_6.1, activerecord_head ]
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
    - uses: actions/checkout@v2
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: head
        bundler-cache: true
    - name: Run tests
      run: bundle exec rspec
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
